@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
$font-family-bai: 'Bai Jamjuree', sans-serif;

//Primary
$Strong-Cyan: rgb(38, 186, 164);
$Light-Blue: rgb(97, 115, 255);

$Strong-Cyan-s: rgb(19, 160, 150);
$Light-Blue-s: rgb(97, 90, 255);

$Strong-Cyan-b: rgb(49, 204, 181);
$Light-Blue-b: rgb(95, 150, 228);
//Neutral
$Dark-Grayish-Blue: rgb(76, 84, 93);
$Grayish-Blue: rgb(159, 171, 178);

$Grayish-Blue-bg: rgb(250, 250, 250);